<!DOCTYPE html>
<html lang="en" ng-app="quick-peek">

<head>
    
    <link rel="stylesheet" type="text/css" href="./bower_components/bootstrap/dist/css/bootstrap.min.css" />
    
    <script src="https://www.gstatic.com/firebasejs/4.1.0/firebase.js"></script>
    <script>
    // Initialize Firebase
    var config = {
        
    };
    firebase.initializeApp(config);
    </script>
    <style>
        @import url('https://fonts.googleapis.com/css?family=Ubuntu:300');
    </style>
    <link rel="stylesheet" type="text/css" href="views/index.css" />
    <link rel="stylesheet" href="./bower_components/angular-material/angular-material.css">
</head>

<body ng-controller="indexCtrl" >
    
    <div ng-view class="container-fluid">
        <div ng-include="'views/main/main.html'" class="row" ng-show="view == 'main'"></div>
        <div ng-include="'views/setup/setup.html'" class="row" ng-show="view == 'setup'"></div>
    </div>
    
    <script type="text/javascript" src="./bower_components/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="./bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="./bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script type="text/javascript" src="./app/app.js"></script>
    <script type="text/javascript" src="./app/controllers/indexController.js"></script>
    <script type="text/javascript" src="./app/controllers/mainController.js"></script>
    <script type="text/javascript" src="./app/controllers/setupController.js"></script>
    <script src="/bower_components/angular-aria/angular-aria.js"></script>
	<script src="/bower_components/angular-animate/angular-animate.js"></script>
	<script src="/bower_components/angular-material/angular-material.js"></script>
</body>

</html>