<md-content class="md-padding" layout-xs="column" layout="row" ng-controller="setupCtrl">
    <div flex-xs flex-gt-xs="100" layout="column">
        
        <md-card md-theme="default">
            <md-card-title>
                <md-card-title-text class="md-accent">
                    <span class="md-headline">Setup</span>
                    <md-button ng-click="changeView('main')">All done</md-button>
                </md-card-title-text>
            </md-card-title>
            <md-card-content layout="row" layout-align="space-between">
                
                
                <div>
                    <form name="userForm">

                        <div layout-gt-sm="row">
                            <md-input-container class="md-block" flex-gt-xs>
                                <label>Destination</label>
                                <input ng-model="user.destination">
                            </md-input-container>

                            <md-input-container>
                                <label>Enter date</label>
                                <md-datepicker ng-model="user.endDate"></md-datepicker>
                            </md-input-container>
                        </div>

                        <md-input-container class="md-block">
                            <label>Address</label>
                            <input ng-model="user.address">
                        </md-input-container>

                        <md-input-container md-no-float class="md-block">
                            <input ng-model="user.address2" placeholder="Address 2">
                        </md-input-container>

                        <div layout-gt-sm="row">
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>City</label>
                                <input ng-model="user.city">
                            </md-input-container>

                            <md-input-container class="md-block" flex-gt-sm>
                                <label>State</label>
                                <input ng-model="user.state">
                            </md-input-container>

                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Postal Code</label>
                                <input name="postalCode" ng-model="user.postalCode" placeholder="12345" required ng-pattern="/^[0-9]{5}$/" md-maxlength="5">

                                <div ng-messages="userForm.postalCode.$error" role="alert" multiple>
                                    <div ng-message="required" class="my-message">You must supply a postal code.</div>
                                    <div ng-message="pattern" class="my-message">That doesn't look like a valid postal code.
                                    </div>
                                    
                                </div>
                            </md-input-container>
                        </div>
                        
                        <md-input-container class="md-block">
                            <label>Weather Api Key</label>
                            <input ng-model="user.weatherApiKey">
                        </md-input-container>

                        <md-input-container class="md-block">
                            <label>Weather Location</label>
                            <input ng-model="user.homeWeatherLoc">
                        </md-input-container>

                        <md-input-container class="md-block">
                            <label>Weather location Name</label>
                            <input ng-model="user.weatherLocationTitle">
                        </md-input-container>

                        <md-button type="button" ng-click="saveSettings(user)" value="Save">Save</md-button>
                    </form>
                </div>
            </md-card-content>
        </md-card>
    </div>
    
</md-content>