<md-content class="md-padding" layout-xs="column" layout="row" ng-controller="mainCtrl">
    <div flex-xs flex-gt-xs="70" layout="column">
        
        <md-card md-theme="default">
            <md-card-title>
                <md-card-title-text class="md-accent">
                    <span class="md-headline">Destination name?</span>
                    <span class="md-subhead">Text from image?</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content layout="row" layout-align="space-between">
                <div class="md-media-xl card-media">
                    <img  alt="" id="main-image">
                </div>

                
            </md-card-content>
        </md-card>
    </div>
    <div flex-xs flex-gt-xs="30" layout="column">
        <md-card md-theme="default">
            <md-card-header class="400">
                <md-card-avatar>
                    <md-icon class="md-avatar-icon" ></md-icon>
                </md-card-avatar>
                <md-card-header-text class="md-primary">
                    <span class="md-title">Title</span>
                    <span class="md-subhead">subhead</span>
                </md-card-header-text>
            </md-card-header>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Only...</span>
                    <span class="md-subhead">{{timeLeft.daysLeft}}d {{timeLeft.hoursLeft}}h {{timeLeft.minutesLeft}}m {{timeLeft.secondsLeft}}s</span>
                </md-card-title-text>
                <md-card-title-media>
                    <div class="md-media-md card-media"></div>
                </md-card-title-media>
            </md-card-title>
            <md-card-actions layout="row" layout-align="end center">
                <md-button ng-click="changeView('setup')">Settings</md-button>
                <md-button ng-click="displayRandomImage()">New Image</md-button>
            </md-card-actions>
        </md-card>
        
    </div>
</md-content>
<!--<div class="grid">
            <div ng-repeat="image in photosArray" class="grid-item">
                <img ng-src="{{buildImageUrl(image.farm, image.server, image.id, image.secret)}}" alt="">

            </div>
        </div>-->