<md-content class="md-padding" layout-xs="column" layout="row" ng-controller="mainCtrl">
    <div flex-xs flex-gt-xs="70" layout="column">
        
        <md-card md-theme="default" flex="70" id="main-card">
            <md-card-title>
                <md-card-title-text class="md-accent">
                    <span class="md-headline heading">Here is what you have to look forward to!</span>
                    <span class="md-subhead small-heading">{{imageTitle}}</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content layout="row" layout-align="space-between">
                    <img  alt="" id="main-image">
            </md-card-content>
        </md-card>
    </div>
    <div flex-xs flex-gt-xs="30" layout="column">
        <!-- Countdown card -->        
        <md-card md-theme="default">
            <md-card-header class="400">
                <md-card-avatar>
                    <md-icon class="md-avatar-icon" ></md-icon>
                </md-card-avatar>
                <md-card-header-text class="md-primary">
                    <span class="md-title">Title</span>
                    <span class="md-subhead">subhead</span>
                </md-card-header-text>
            </md-card-header>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Only...</span>
                    <span class="md-subhead">{{timeLeft.daysLeft}}d {{timeLeft.hoursLeft}}h {{timeLeft.minutesLeft}}m {{timeLeft.secondsLeft}}s</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-actions layout="row" layout-align="end center" class="heading">
                <md-button ng-click="changeView('setup')">Settings</md-button>
                <md-button ng-click="displayRandomImage()">New Image</md-button>
            </md-card-actions>
        </md-card>
        <!-- Countdown card -->
       <!-- Weather Card -->
        <md-card md-theme="default">
            <md-card-header class="300">
                
                <md-card-header-text class="md-primary">
                    <span class="md-title">{{userSettings.weatherLocationTitle || "Location"}}</span>
                </md-card-header-text>
            </md-card-header>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">{{(weather[0].data.currently.apparentTemperature | number:0)  || "Loading Temp..."}}</span>
                    <span class="md-headline">{{weather[0].data.currently.summary || "Loading Summary..."}}</span>
                </md-card-title-text>
                <md-card-title-media>
                    <div class="md-media-md card-media"><i class="wi" ng-class="'wi-'+weather[0].data.currently.icon"></i></div>
                </md-card-title-media>
                
            </md-card-title>
            <md-card-content>
                    <span class="md-subline"><a href="https://darksky.net/poweredby/">Powered by Dark Sky</a></span>
                </md-card-content>
        </md-card>
    </div>
</md-content>
<!--<div class="grid">
            <div ng-repeat="image in photosArray" class="grid-item">
                <img ng-src="{{buildImageUrl(image.farm, image.server, image.id, image.secret)}}" alt="">

            </div>
        </div>-->